# Environnements virtuelsPython
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Base de données et MLOps
mlflow.db
mlruns/

# YOLO / Models
*.pt
!yolov8n.pt # Maybe keep the base model if small, but user has best.pt (6MB) and yolov8n.pt (6.5MB)
# Actually, it's better to ignore large .pt files or use Git LFS. I'll ignore them for now.
best.pt
yolov8n.pt

# Fichiers système
.DS_Store
Thumbs.db
desktop.ini

# Caches Python
__pycache__/
*.pyc
.pytest_cache/

# Logs
*.log

# Docker
.docker/

# (Optionnel) Ignorer les grosses vidéos si elles dépassent 100 Mo
# videos/*.mp4
# videos/*.mov